<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/type-document">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-1">
                                    <i class="fas fa-file-alt"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Type Document</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfType}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/dossier">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-2">
                                    <i class="fas fa-folder"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Dossier</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfDossier}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/salle">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-3">
                                    <i class="fas fa-map"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Salle</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfSalle}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/rayon">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-4">
                                    <i class="fas fa-chart-pie"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Rayon</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfRayon}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/boite">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-5">
                                    <i class="fas fa-box"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Boîte</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfBoite}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/process">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-6">
                                    <i class="fas fa-th"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Process</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfProcess}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/service">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-7">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Service</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfService}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <a routerLink="/sous-service">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <span class="dash-widget-icon bg-8">
                                    <i class="fas fa-briefcase"></i>
                                </span>
                                <div class="dash-count">
                                    <div class="dash-title">Sous Service</div>

                                </div>
                            </div>

                            <p class="text-muted mt-3 mb-0"><span class="text-success me-1"><i
                                        class="fas  me-1"></i>{{numberOfSousService}}</span> enregistrement(s)</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>