<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row justify-content-center my-5">
            <div class="col-xl-10">
                <div class="card">
                    <div class="card-body">



                        <div class="row">
                            <h1>Boite [{{boite.code}}]</h1>
                            <div class="col-md-6">
                                <div class="titre">
                                    <p class="">
                                        ID <br><hr>
                                        
                                        Code <br><hr>
                                        
                                        Capacite <br><hr>

                                        Rayon <br><hr>
                                    </p>
                                </div>
                                <button class="btn btn-primary" routerLink="../">Retour</button>
                            </div>

                            <div class="col-md-6">
                                <div class="">
                                    <p class="">
                                        {{boite.id}} <br><hr>
                                        
                                        {{boite.code}} <br><hr>
                                        
                                        {{boite.capacite}} <br><hr>

                                        {{boite.rayon.nom}} <br><hr>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>